[Package]
version: 2
depends: 

[Product]
type: localboot
id: hwaudit
name: Client Hardwareinventory Windows / Linux / OSX
description: Hardwareinventarisierung
advice: 
version: 4.1.1.1
priority: 0
licenseRequired: False
productClasses: 
setupScript: hwaudit.opsiscript
uninstallScript: 
updateScript: 
alwaysScript: hwaudit.opsiscript
onceScript: 
customScript: 
userLoginScript: 

[ProductProperty]
type: unicode
name: timeout
multivalue: False
editable: False
description: TimeOutSeconds hwaudit process
values: ["300", "600", "90", "notimeout"]
default: ["90"]

[ProductProperty]
type: unicode
name: loglevel
multivalue: False
editable: False
description: LogLevel from hwaudit
values: ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"]
default: ["5"]

[ProductProperty]
type: unicode
name: logfile
multivalue: False
editable: False
description: LogFile from hwaudit default ("" or "auto") C:\opsi.org\tmp
values: [""]
default: [""]

[ProductProperty]
type: unicode
name: tail-lines
multivalue: False
editable: True
description: linecount that will be included in instlog
values: ["100", "200", "30"]
default: ["30"]

[ProductProperty]
type: bool
name: force_install
description: Should we always reinstall the hwaudit software
default: False

